<div class="row">
  <div class="col-12" *ngFor="let place of gooPlacesService.places">
    <div class="card-deck">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{place.name}}</h5>
          <p class="card-text">{{place.formatted_address}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{place.types}}</small>
          <!-- http://maps.google.com/maps?q=loc:{{place.geometry.location.lat}},{{place.geometry.location.lng}} -->
          <a href="https://www.google.com/maps/search/?api=1&query={{gooPlacesService.validateName(place.name)}}" target="_blank">Open Map</a>
          <button type="button" class="btn btn-primary" (click)="openModal(template); sanitize(place.geometry.location.lat, place.geometry.location.lng)">Open modal</button>
          <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left">{{place.name}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <iframe width="600" height="450" frameborder="0"  src="https://www.google.com/maps/search/?api=1&query={{gooPlacesService.validateName(place.name)}}" style="border:0" allowfullscreen #mapFrame></iframe>
              </div>
            </ng-template>
          <button class="btn btn-primary" (click)="savePlace(place)">Save Place</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- {{place.geometry.location.lat}},{{place.geometry.location.lng}} -->